Repository ChocolateNao/stratz.js: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --max-warnings 0, npx prettier --check

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "npx eslint --max-warnings 0",
  "*{.json,html,css,scss}": "npx prettier --check"
}

feat: add husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

test: update jest config
  jest.config.js
  jest.config.ts
  tests/index.test.js
Due: npx eslint --max-warnings 0

test: add tests with ts
  tests/index.test.ts
Due: npx eslint --max-warnings 0

feat: add types
  src/enums/Language.enum.ts
  src/models/Ability.interface.ts
  src/models/Cluster.interface.ts
  src/models/GameMode.interface.ts
  src/models/GameVersion.interface.ts
  src/models/Hero.interface.ts
  src/models/Item.interface.ts
  src/models/League.interface.ts
  src/models/LobbyType.interface.ts
  src/models/Npc.interface.ts
  src/models/NumRange.interface.ts
  src/models/Series.interface.ts
Due: npx eslint --max-warnings 0

feat: add/update interfaces
  src/enums/StratzLanguage.enum.ts
  src/models/DotaPlusLeaderboard.interface.ts
  src/models/ESportsPlayer.interface.ts
  src/models/HeroPerformance.interface.ts
  src/models/Match.interface.ts
  src/models/Player.interface.ts
  src/models/Region.interface.ts
  src/models/SteamAccount.interface.ts
  src/models/User.interface.ts
Due: npx eslint --max-warnings 0

docs: update
  DOCS.md
  README.md
Due: none

fix: version, scripts
  package.json
Due: npx prettier --check

test: update tests
  tests/index.test.ts
Due: npx eslint --max-warnings 0

refactor: major refactor, add types
  src/Stratz.ts
  src/index.ts
Due: npx eslint --max-warnings 0

chore: update version
  package-lock.json
Due: npx prettier --check

fix: typo
  src/Stratz.ts
Due: npx eslint --max-warnings 0

feat: update node version
  .github/workflows/npm-publish.yml
Due: none

test: update v2.0.0 methods tests
  tests/index.test.ts
Due: npx eslint --max-warnings 0

test: fix tests to exit properly
  jest.config.ts
  tests/index.test.ts
Due: npx eslint --max-warnings 0

chore: update supported node version
  README.md
  package.json
  tsconfig.json
Due: npx prettier --check

docs: add type support
  DOCS.md
Due: none

feat: types for queryParameters
  src/Stratz.ts
  src/models/DataList.interface.ts
  src/models/NumRange.type.ts
  src/models/query/BaseQuery.interface.ts
  src/models/query/LeaguesQuery.interface.ts
  src/models/query/MatchQuery.interface.ts
  src/models/query/SearchQuery.interface.ts
Due: npx eslint --max-warnings 0

test: set up codecov
  .github/workflows/codecov-report.yml
  README.md
  jest.config.ts
Due: npx eslint --max-warnings 0

fix: add project files
  .npmignore
Due: none

chore: update version
  package-lock.json
  package.json
Due: npx prettier --check

docs: update docs
  DOCS.md
  README.md
Due: none

fix: add distinct types for those of similar naming
  src/models/Ability.interface.ts
  src/models/Hero.interface.ts
  src/models/Item.interface.ts
Due: npx eslint --max-warnings 0

test: add new case
  tests/index.test.ts
Due: npx eslint --max-warnings 0

feat: add custom http error handling
  src/Stratz.ts
  src/exceptions/http.exception.ts
Due: npx eslint --max-warnings 0

docs: add deprecation notice
  DOCS.md
  README.md
Due: none
